.header {
  text-align: center;
}

.header__logo {
  width: 254px;
  height: 69px;
  margin: 0 auto;
  padding-top: 34px;
}

.header__title {
  font-size: 6rem;
  margin-top: 91px;
  line-height: 1;
  font-weight: 900;
  width: 95%;
  max-width: 720px;
  margin-inline: auto;
}

.header__description {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 32px auto 0;
  width: 95%;
  max-width: 720px;
}

.header__img {
  max-width: 984px;
  width: 100%;
  margin: 64px auto 0;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .header__img {
    margin-top: 36px;
  }

  .header__logo {
    height: 65px;
  }

  .header__title {
    font-size: 4.5rem;
  }

  .header__description {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
    padding-top: 20px;
  }

  .header__title {
    font-size: 2.5rem;
    margin: 50px auto 16px;
  }

  .header__description {
    font-size: 1rem;
    margin: 0 auto 0;
    line-height: 1.4;
  }

  .header__img {
    margin-top: 40px;
  }
}
