.intro {
  max-width: 830px;
  margin-left: 148px;
  margin-top: 88px;
  margin-inline: auto;
}

.intro__header {
  font-size: 3.3rem;
  line-height: 1.2;
  font-weight: 900;
}

.intro__quote {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

.intro__author {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}

.intro__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (max-width: 768px) {
  .intro {
    margin: 88px 24px 0;
    max-width: 720px;
  }

  .intro__header {
    font-size: 2.8rem;
    line-height: 1;
  }

  .intro__quote {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 30px;
  }

  .intro__author {
    font-size: 1.5rem;
    line-height: 1;
  }

  .intro__text {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .intro {
    margin: 88px 16px 0;
  }

  .intro__header {
    font-size: 2rem;
    line-height: 1.2;
  }

  .intro__quote {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .intro__text {
    font-size: 1rem;
  }
}
